{% extends "layout.html" %}
{% block body %}
<body>

<nav class="navbar navbar-light navbar-fixed-top bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicons glyphicons-charts"></span> Github Profile Analyzer</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        {% if data['name']==None %}
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome,{{data['username']}} </a></li>
        {% else %}
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome,{{data['name']}} </a></li>
        {% endif %}
        <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"> </span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<br><br>
<div class="row">
  
<div class="col-md-2">

  <img id="avatar" src="{{data['avatar']}}">
  <br>  <br>
  {% if data['name'] == None %}
    <p><b>Name:</b> {{data['username']}} </p>
  {% else %}
    <p><b>Name:</b> {{data['name']}} </p>
  {% endif %}

  <p><b>Bio:</b> {{data['bio']}}</p>
  
  <p><b>Following:</b> {{data['following']}}</p>
  <p><b>Followers:</b> {{data['followers']}}</p>
  <hr>
  <div>
    <a href="/plot/">
      <button id="plotButton" class="btn btn-success">Show Graph</button>
    </a>                                                                        
  </div>
  
  
 </div>
  
<div class="col-md-10">
  <h1>
    Your Github Insights
  </h1>

  <div class="table-responsive" >          
  <table class="table table-bordered table-hover">
    <thead style = "background-color:  rgb(73, 134, 45); color: white"> 
      <tr>
        <th><span class="glyphicons glyphicons-list-numbered">No.</span> </th>
        <th><span class="glyphicons glyphicons-folder-closed"></span> Repo Name</th>
        <th><span class="glyphicons glyphicons-history"></span> Commits</th>
        <th><span class="glyphicons glyphicons-git-branch"></span> Forks</th>
        <th><span class="glyphicons glyphicons-parents"></span> Unique Visitors</th>
        <th><span class="glyphicons glyphicons-group"></span> Total Visitors</th>
        <th><span class="glyphicons glyphicons-star"></span> Stars</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data['repos_list'] %}
        <tr>
          <td>{{i[0]}}</td>
          <td>{{i[1]}}</td>
          <td>{{i[2]}}</td>
          <td>{{i[3]}}</td>
          <td>{{i[4]}}</td>
          <td>{{i[5]}}</td>
          <td>{{i[6]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
</div>

</body>
</html>
{% endblock %}